#BreakingNews{
    float: none;
    width: 90%;
}

#menu{
    float: none;
    width: 90%;
    font-size: 1.5em;
}

#content{
    margin-left: 0;
    border-top: 1px solid #000;
}

#curiosita{
    margin-left: 0;
    border-top: 1px solid #000;
}

header h1:hover{
    transform: none;
}